:root {
    --primary: rgb(13, 25, 159);
    background-color: var(--primary);
    --purple: rgb(75, 75, 201);
    --royalblue: rgb(11, 11, 105);
    --dark: rgba(2, 7, 34, 0.781);
    --light: rgb(116, 223, 173);

}

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgba(203, 238, 238, 0.966);
}

header {
    padding-left: 40px;
    background-color: var(--purple);
}

header h1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 58px;
    color: var(--light);
    background: var(--dark);
    background-repeat: initial;
    margin: 0;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 10px;
    margin-left: 20px;
}

nav a {
    display: flex;
    padding: 5px;
    font-size: 25px;
    flex-direction: row;
    font-style: oblique;
}

.banner {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding-right: 50px;
    background-color: aliceblue;
    padding: 10%;
    background-size: cover;
    background-image: url(https://www.oxfordwebstudio.com/user/pages/06.da-li-znate/sta-je-kod/sta-je-kod.jpg);
}

.banner div {
    flex: 0 0 50%;
}

.banner h2 {
    margin: 0;
    padding: 10px 10px;
    color: var(--royalblue);
    background-color: aliceblue;
    display: inline-flex;
    flex-wrap: wrap;
}

main {
    margin-top: 20px;
}

p {
    margin: 20px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card h2 {
    display: flex;
    padding-left: 10px;
    font-size: 40px;
}

.card p {
    padding-left: 20px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 7px solid var(--royalblue);
    margin: 20px;
    padding: 50px;
    display: flex;
    align-items: flex-end;
}

.flex-item div {
    background-color: var(--royalblue);
    padding: 15px 15px;
}   

.flex-item h3 {
    color: var(--light);
    background-color: var(--royalblue);
}

.flex-item:first-child {
    width: 100%;
}

.flex-item:not(:first-child) {
    flex: 1;
}

#contact-me address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#contact-me address a {
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 1.5rem;
}


/*Portfolio Images*/

.first-app {
    background-image: url("CarryOn\ Main.JPG");
    background-size:cover;
    padding: 150px;
}

.second-app {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8-8Gn6-8cUwiIpofzlKyPdW4KNTDMm6lN3A&usqp=CAU);
    background-size: cover;
}

.calculator {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJwO4nPFw76zl6vIFZwiCLLH9ZIrK22SDWDw&usqp=CAU);
    background-size: cover;
}

.GOT {
    background-image: url(https://i0.wp.com/www.fantasticmaps.com/wp-content/uploads/2013/03/World_Of_Ice_And_Fire.jpg?resize=625%2C416);
}


/* end of portfolio images */


/*media queries*/ 
@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
      }

      header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 45px;
        justify-content: center;
      }

    nav {
        justify-content: center;
    }

@media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
        flex-basis: 100%;
    }